@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
:root{
  --heading1: 56px;
  --heading2: 48px;
  --heading3: 36px;
  --heading4: 30px;
  --heading5: 24px;
  --heading6: 18px;

  --black: #22262A;
  --grey:#F6F7F8;

  --grey100: #C1C8CE;
  --grey200: #E5E8EA;
  --grey300: #F1F3F4;

  --blue: #0D2840;
  --blue100: #19507F;
  --blue200: #2678BF;
  --blue300: #2E90E5;
  --blue400: #33A0FF;

  --purple: #8F65FF;
  --purple100: #9E7AFF;
  --purple200: #BAA1FF;

  --red:#FF4252;
  --red100:#FF4858;
  --red200:#FF6875;

  --green: #0AD00A;
  --green100: #39DB39;
  --green200: #6DE26D;

  --yellow: #FFC600;
  --yellow100: #FFD33A;
  --yellow200: #FFDA58;

  --bg-grad: linear-gradient(90deg, rgba(255,72,88,1) 0%, rgba(143,101,255,1) 100%);

  

}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Proxima Nova', sans-serif;
   overflow-x: hidden;                                              
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: black;
}
.container{
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  

}
