/* @import url('https://fonts.cdnfonts.com/css/proxima-nova-2'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root{
  --heading1: 56px;
  --heading2: 48px;
  --heading3: 36px;
  --heading4: 30px;
  --heading5: 24px;
  --heading6: 18px;

  --boxshadow: "2px 6px 9px 1px #22262a5a";


  --black: #22262A;
  --grey:#a2a0a0;
--green: rgba(0, 162, 0, 0.494);
  --purple: #8F65FF;
  --purple100: #9E7AFF;
  --purple200: #BAA1FF;

  --red:#FF0000;

  --yellow: #FBB03B;

  
  --bg-grad: linear-gradient(90deg, rgba(255,72,88,1) 0%, rgba(143,101,255,1) 100%);




}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;                                              
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: black;
  
}
.container{
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  

}
button.active{
  color: var(--yellow);
  border-color: var(--yellow);
}
button.disable{
  color: black;
  outline: none;
  border: black;
}

.slider-image {
  max-height: 400px;
  object-fit: contain;
}


